h1{
    margin-top:8rem;
    text-align: center;
  }
  .table{
    width:100vw;

  }
  .head{
background-color: #009879;
height:2em;
color:white;

  }
  .footer{
    text-align: center;
  }

button{
   
    margin:10px;
    font-size: large;
    background-color: #009879;
    border: none;
    border-radius: 5px;
    font-style: normal;
    color:white;
}
  